@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --theme-color-primary: #203EFF;
  --theme-color-primary--100: rgba(32, 62, 255, 0.2);
  --theme-color-secondary: #208FFF;
  --theme-color-grey: rgba(148, 157, 165, 0.08);
  --theme-color-black: #101820;
  --theme-color-white: #D9E5F2;
  --theme-color-red: #FF818B;
}

:root {
  --theme-font-primary: Poppins, Helvetica Neue, Helvetica, Arial, sans-serif;
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

a {
  color: currentColor;
}

button,
input[type=submit] {
  cursor: pointer;
}

body {
  font-family: var(--theme-font-primary);
  font-weight: 400;
  color: var(--theme-color-black);
}

[type=submit],
.button {
  display: inline-block;
  padding: 1.4rem 2.4rem 1.2rem;
  font-size: 1.2rem;
  font-weight: 700;
  text-decoration: none;
  color: var(--theme-color-white);
  background-color: var(--theme-color-primary);
  border: none;
  border-radius: 0.4rem;
}

.button-edit {
  position: relative;
  padding: 0;
  width: 4rem;
  height: 4rem;
  text-indent: -9999px;
}
.button-edit::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.6rem;
  height: 1.6rem;
  background-image: url("../../assets/icons/edit.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  filter: invert(1);
}

.button-delete {
  position: relative;
  padding: 0;
  width: 4rem;
  height: 4rem;
  text-indent: -9999px;
  background: #dc3545;
}
.button-delete::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.6rem;
  height: 1.6rem;
  background-image: url("../../assets/icons/delete.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  filter: invert(1);
}

.button-sidebar-expand {
  position: relative;
  padding: 0;
  width: 4rem;
  height: 4rem;
  text-indent: -9999px;
  position: absolute;
  top: 1.2rem;
  left: 1.2rem;
  background: var(--theme-color-grey);
}
.button-sidebar-expand::before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1.6rem;
  height: 1.6rem;
  background-image: url("../../assets/icons/sidebar.svg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: contain;
  filter: invert(1);
}

.button-sidebar {
  padding: 0;
  width: 4rem;
  height: 4rem;
  background: var(--theme-color-grey);
}

form {
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.form-row {
  margin: 1.2rem 0;
}
.form-row.form-row--submit, .form-row:last-of-type {
  margin-top: 4rem;
}

label {
  display: block;
  padding: 0 2.4rem 0.4rem;
  font-size: 1.2rem;
  text-align: left;
}

input {
  display: block;
  padding: 1.4rem 2.4rem 1.2rem;
  width: 100%;
  font-size: 1.2rem;
  background-color: var(--theme-color-grey);
  border: none;
  border-radius: 0.4rem;
}
.login input {
  color: var(--theme-color-white);
  background-color: var(--theme-color-black);
}

.honeypot {
  display: none;
}

.form-row--radios {
  padding: 2rem 2.4rem;
  background-color: var(--theme-color-grey);
  border-radius: 0.4rem;
}
.form-row--radios > div:not(:first-child) {
  margin-top: 0.8rem;
}
.form-row--radios > div:not(:last-child) {
  margin-bottom: 0.8rem;
}
.form-row--radios input {
  display: none;
}
.form-row--radios input + label {
  display: flex;
  gap: 0.8rem;
  position: relative;
  padding: 0;
  cursor: pointer;
}
.form-row--radios input + label::before {
  content: "";
  display: block;
  width: 1em;
  height: 1em;
  border: 1px solid var(--theme-color-primary);
  border-radius: 2px;
  transition: all 0.2s ease-in-out;
}
.form-row--radios input + label::after {
  content: "";
  display: block;
  position: absolute;
  top: 0.4em;
  left: 0.6em;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 0.4em;
  height: 1em;
  border-bottom: 2px solid White;
  border-right: 2px solid White;
  transition: all 0.2s ease-in-out;
}
.form-row--radios input + label:hover::before {
  background: var(--theme-color-primary--100);
}
.form-row--radios input:checked + label::before {
  background: var(--theme-color-primary);
}
.form-row--radios input:not(:checked) + label::after {
  opacity: 0;
}

#app {
  display: flex;
  justify-content: flex-end;
  min-height: 100vh;
}
.login #app {
  justify-content: center;
}
.edit #app {
  align-items: stretch;
}
#app .site-main {
  padding: 1.2rem;
}

.admin {
  background: var(--theme-color-black);
}
.admin .site-main:not(.login) {
  display: flex;
  justify-content: flex-end;
}
.admin .site-main:not(.login) > section {
  z-index: 1;
  position: relative;
  padding: 6rem;
  width: calc(100vw - 8rem - 2.4rem);
  min-height: 100%;
  background: #fff;
  border-radius: 0.8rem;
  transition: all 0.2s ease-in-out;
}
.admin .site-main:not(.login) > section header {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 4rem;
}
@media screen and (min-width: 800px) {
  .admin .site-main:not(.login) > section {
    width: calc(100vw - 32rem - 2.4rem);
  }
}
.admin form {
  transition: all 0.2s ease-in-out;
}
.admin .menu-primary li,
.admin .menu-secondary li {
  transition: all 0.2s ease-in-out;
}
.admin .menu-primary li:nth-child(1),
.admin .menu-secondary li:nth-child(1) {
  transition-delay: 0.16s;
}
.admin .menu-primary li:nth-child(2),
.admin .menu-secondary li:nth-child(2) {
  transition-delay: 0.24s;
}
.admin .menu-primary li:nth-child(3),
.admin .menu-secondary li:nth-child(3) {
  transition-delay: 0.32s;
}
.admin .menu-primary li:nth-child(4),
.admin .menu-secondary li:nth-child(4) {
  transition-delay: 0.4s;
}
.admin.menu-collapse .site-main > section {
  width: calc(100vw - 6rem - 2.4rem);
}
.admin.menu-collapse .admin-menu form {
  opacity: 0;
  pointer-events: none;
}
.admin.menu-collapse .admin-menu .menu-primary li,
.admin.menu-collapse .admin-menu .menu-secondary li {
  opacity: 0;
  pointer-events: none;
  transform: translate(-2rem);
  transition-delay: 0s;
}

.menu li a {
  display: block;
  padding: 0.6rem 1.6rem;
  font-size: 1.4rem;
  line-height: 1.5;
  border-radius: 0.4rem;
  transition: all 0.2s ease-out;
}
.menu li a:hover {
  background: rgba(132, 140, 149, 0.12);
}
.menu li.active a {
  background-color: var(--theme-color-primary);
}

.menu-primary {
  padding: 2.4rem 0;
}

.menu-secondary {
  position: relative;
  padding: 2.4rem 0;
  border-top: 1px solid #848C95;
}

.pagination {
  margin-top: 4rem;
}
.pagination ol {
  display: flex;
  gap: 1.2rem;
  align-items: center;
}
.pagination li {
  border: 1px solid var(--theme-color-white);
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
}
.pagination li a {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  text-decoration: none;
}
.pagination li:hover {
  background: var(--theme-color-white);
}
.pagination li.active {
  color: #fff;
  background: var(--theme-color-primary);
  border-color: var(--theme-color-primary);
}

table {
  margin: 0 -1.2rem;
  width: calc(100% + 2.4rem);
}
table thead {
  border-bottom: 1px solid var(--theme-color-white);
}
table tbody tr:nth-child(even) {
  background: rgba(0, 0, 0, 0.04);
}
table tr th,
table tr td {
  padding: 1.2rem 0;
  text-align: left;
  vertical-align: middle;
}
@media screen and (min-width: 800px) {
  table tr th,
  table tr td {
    padding: 1.2rem;
  }
}
table tr span {
  color: #848C95;
}
table tr button {
  display: inline-block;
  width: 4rem;
  height: 4rem;
  color: #fff;
  background: #848C95;
  border: none;
  border-radius: 50%;
}
@media screen and (max-width: 1200px) {
  table thead {
    display: none;
    border-bottom: 1px solid #848C95;
  }
  table tbody td {
    display: flex;
    gap: 1rem;
  }
  table tbody td::before {
    content: attr(data-content) ":";
    display: inline-block;
    color: #848C95;
  }
  table tbody tr {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #848C95;
  }
}

.site-main > section menu ul {
  display: flex;
  align-items: center;
  gap: 0.8rem;
}
.site-main > section menu li {
  line-height: 0;
}

::placeholder {
  color: rgba(217, 229, 242, 0.4);
}

.login {
  text-align: center;
  color: var(--theme-color-white);
  background: var(--theme-color-black);
}
.login a {
  color: var(--theme-color-secondary);
}
.login [type=submit] {
  margin-top: 3.2rem;
  width: 100%;
}
.login .link-reset-password {
  display: inline-block;
  margin-top: 2rem;
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--theme-color-white);
}

.site-main.login {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.login-box {
  margin: 0 auto;
  padding: 6rem 6rem 5rem;
  max-width: 46rem;
  background: rgba(148, 157, 165, 0.08);
  border-radius: 0.8rem;
}

h1 {
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 1.5;
}

p {
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.5;
  color: rgba(148, 157, 165, 0.6);
}

.modals {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  transition: all 0.2s ease-in-out;
}
.modals:not(.active) {
  opacity: 0;
  pointer-events: none;
}
.modals .modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2rem;
  background: var(--theme-color-white);
}

.admin-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  padding: 4.8rem 2.4rem 3.2rem;
  width: 100%;
  max-width: 32rem;
  height: 100%;
  color: var(--theme-color-white);
}
.admin-menu a {
  text-decoration: none;
}
.admin-menu .logout {
  color: var(--theme-color-red);
  text-decoration: underline;
}
.admin-menu > div:last-of-type {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  position: relative;
  margin-top: auto;
  margin-bottom: 0;
}
.admin-menu > div:last-of-type button {
  margin-left: auto;
  margin-right: 0;
}
.admin-menu > div:last-of-type menu {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2rem 1.6rem;
  transform: translateY(-100%);
  font-size: 1.3rem;
  text-align: right;
  background: rgba(132, 140, 149, 0.12);
  border-radius: 0.4rem;
  transition: all 0.2s ease-out;
}
.admin-menu > div:last-of-type menu li:not(:first-child) {
  margin-top: 1.2rem;
}
.admin-menu > div:last-of-type menu li:not(:last-child) {
  margin-bottom: 1.2rem;
}
.admin-menu > div:last-of-type menu:not(.active) {
  transform: translateY(-80%);
  opacity: 0;
  pointer-events: none;
}

.sidebar-current-user > a {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.sidebar-current-user > a img {
  display: block;
  padding: 0.4rem;
  width: 3.2rem;
  height: 3.2rem;
  background: var(--theme-color-white);
  border-radius: 50%;
  object-fit: contain;
}

.screen-reader-text {
  border: 0;
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}

.screen-reader-text:focus {
  background-color: #eee;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */
}

/*# sourceMappingURL=app.css.map */
