#app {
	display: flex;
	justify-content: flex-end;
	// padding: 0 8vw;
	min-height: 100vh;

	.login & {
		justify-content: center;
	}

	.edit & {
		align-items: stretch;
	}

	.site-main {
		padding: 1.2rem;
	}
}

.admin {
	background: var(--theme-color-black);

	.site-main:not(.login) {
		display: flex;
		justify-content: flex-end;

		& > section {
			z-index: 1;
			position: relative;
			padding: 6rem;
			width: calc(100vw - 8rem - 2.4rem);
			min-height: 100%;
			background: #fff;
			border-radius: .8rem;
			transition: all .2s ease-in-out;

			header {
				display: flex;
				align-items: center;
				gap: 2rem;
				margin-bottom: 4rem;
			}

			@media screen and (min-width:800px) {
				width: calc(100vw - 32rem - 2.4rem);
			}
		}
	}

	form {
		transition: all .2s ease-in-out;
	}

	.menu-primary,
	.menu-secondary {
		li {
			transition: all .2s ease-in-out;

			@for $i from 1 through 4 {
				&:nth-child(#{$i}) {
					transition-delay: #{.08 + (.08 * $i)}s;
				}
			}
		}
	}

	&.menu-collapse {
		.site-main > section {
			width: calc(100vw - 6rem - 2.4rem);
		}

		.admin-menu {
			form {
				opacity: 0;
				pointer-events: none;
			}

			.menu-primary,
			.menu-secondary {
				li {
					opacity: 0;
					pointer-events: none;
					transform: translate(-2rem);
					transition-delay: 0s;
				}
			}
		}
	}
}

.menu {
	li {
		a {
			display: block;
			padding: .6rem 1.6rem;
			font-size: 1.4rem;
			line-height: 1.5;
			border-radius: .4rem;
			transition: all .2s ease-out;
		}

		a:hover {
			background: rgba(#848C95, .12);
		}

		&.active a {
			background-color: var(--theme-color-primary);
		}

	}
}

.menu-primary {
	padding: 2.4rem 0;
}

.menu-secondary {
	position: relative;
	padding: 2.4rem 0;
	border-top: 1px solid #848C95;
}

.pagination {
	margin-top: 4rem;

	ol {
		display: flex;
		gap: 1.2rem;
		align-items: center;
	}

	li {
		border: 1px solid var(--theme-color-white);
		border-radius: 50%;
		transition: all .4s ease-in-out;

		a {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			width: 4rem;
			height: 4rem;
			text-decoration: none;
		}

		&:hover {
			background: var(--theme-color-white);
		}

		&.active {
			color: #fff;
			background: var(--theme-color-primary);
			border-color: var(--theme-color-primary);
		}
	}
}
