table {
	margin: 0 -1.2rem;
	width: calc(100% + 2.4rem);

	thead {
		border-bottom: 1px solid var(--theme-color-white);
	}

	tbody {
		tr:nth-child(even) {
			background: rgba(black, .04);
		}
	}

	tr {
		th,
		td {
			padding: 1.2rem 0;
			text-align: left;
			vertical-align: middle;

			@media screen and (min-width: 800px) {
				padding: 1.2rem;
			}
		}

		span {
			color: #848C95;
		}

		button {
			display: inline-block;
			width: 4rem;
			height: 4rem;
			color: #fff;
			background: #848C95;
			border: none;
			border-radius: 50%;
		}
	}

	@media screen and (max-width: 800px) {

		thead {
			display: none;
			border-bottom: 1px solid #848C95;
		}

		tbody {
			td {
				display: flex;
				gap: 1rem;

				&::before {
					content: attr(data-content)':';
					display: inline-block;
					color: #848C95;
				}
			}

			tr {
				display: flex;
				flex-direction: column;
				border-bottom: 1px solid #848C95;
			}
		}
	}
}

.site-main > section {
	menu {
		ul {
			display: flex;
			align-items: center;
			gap: .8rem;
		}

		li {
			line-height: 0;
		}
	}
}
