::placeholder {
	color: rgba(#D9E5F2, .4);
}

.login {
	text-align: center;
	color: var(--theme-color-white);
	background: var(--theme-color-black);

	a {
		color: var(--theme-color-secondary);
	}

	[type="submit"] {
		margin-top: 3.2rem;
		width: 100%;
	}

	.link-reset-password {
		display: inline-block;
		margin-top: 2rem;
		font-size: 1.2rem;
		text-decoration: none;
		color: var(--theme-color-white);
	}
}

.site-main.login {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100vw;
	height: 100vh;
}

.login-box {
	margin: 0 auto;
	padding: 6rem 6rem 5rem;
	max-width: 46rem;
	background: rgba(#949DA5, .08);
	border-radius: .8rem;
}

h1 {
	font-weight: 600;
	font-size: 3.2rem;
	line-height: 1.5;
}

p {
	font-weight: 300;
	font-size: 1.6rem;
	line-height: 1.5;
	color: rgba(#949da5, .6);
}
