
.admin-menu {
	display: flex;
	flex-direction: column;
	position: fixed;
	top: 0;
	left: 0;
	padding: 4.8rem 2.4rem 3.2rem;
	width: 100%;
	max-width: 32rem;
	height: 100%;
	color: var(--theme-color-white);

	a {
		text-decoration: none;
	}

	.logout {
		color: var(--theme-color-red);
		text-decoration: underline;
	}

	& > div:last-of-type {
		display: flex;
		gap: 1.6rem;
		align-items: center;
		position: relative;
		margin-top: auto;
		margin-bottom: 0;

		button {
			margin-left: auto;
			margin-right: 0;
		}

		menu {
			position: absolute;
			top: 0;
			right: 0;
			padding: 2rem 1.6rem;
			transform: translateY(-100%);
			font-size: 1.3rem;
			text-align: right;
			background: rgba(#848C95, .12);
			border-radius: .4rem;
			transition: all .2s ease-out;

			li:not(:first-child) {
				margin-top: 1.2rem;
			}

			li:not(:last-child) {
				margin-bottom: 1.2rem;
			}

			&:not(.active) {
				transform: translateY(-80%);
				opacity: 0;
				pointer-events: none;
			}
		}
	}
}

.sidebar-current-user > a {
	display: flex;
	align-items: center;
	gap: 1.6rem;

	img {
		display: block;
		padding: .4rem;
		width: 3.2rem;
		height: 3.2rem;
		background: var(--theme-color-white);
		border-radius: 50%;
		object-fit: contain;
	}
}
