.site-footer {
	padding: 7.2rem 12rem;

	p {
		margin: 1em 0;
		font-family: var(--theme-font-primary);
		font-weight: 400;
		font-size: 1.4rem;
		line-height: 1.5;
	}

	small {
		font-size: 1.2rem;
	}
}
